<h1><%= @machine.location %> Vending Machine</h1>

<h4>Snacks:</h4>
<% @machine.snacks.each do |snack| %>
  <p><%= snack.name %> $<%= snack.price.round(2) %></p>
<% end  %>

<p>Average Snack Price: $<%= @machine.avg_snack_price.round(2) %>
